/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

@font-face {
  font-family: Carla Sans;
  src: url('../fonts/carlasans.otf') format('opentype');
}

@font-face {
  font-family: Carla Sans Bold;
  src: url('../fonts/carlasansbold.otf') format('opentype');
}

@font-face {
  font-family: Carla Sans Light;
  src: url('../fonts/carlasanslight.otf') format('opentype');
}

@font-face {
  font-family: Carla Sans Semibold;
  src: url('../fonts/carlasanssemibold.otf') format('opentype');
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*******GLOBAL STYLES*******/
html {
  box-sizing: border-box;
  color: #2F4E5D;
}

body {
  font-size: 16px;
}

h1 {
  font-size: 2.25em;
  font-family: 'Carla Sans Bold', serif;
}

h2 {
  font-size: 2em;
  line-height: 1.125;
  font-family: 'Carla Sans Semibold', serif;
}

h3 {
  font-size: 1.25em;
  font-family: 'Carla Sans Semibold', sans-serif;
}

h4 {
  font-size: 1.1em;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

a {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  color: #2F4E5D;
  font-weight: 400;
}

ul, ol {

}

li {

}

img {
  width: 100%;
}

.content-wrapper {
  width: 90%;
  max-width: 320px;
}

/*******HEADER, FOOTER STYLES*******/

header, footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
}

header .content-wrapper {
  width: 100%;
}

header {
  background-color: #FEE5E4;
  padding: 20px;
  box-sizing: border-box;
}

nav a {
  font-family: 'Carla Sans', sans-serif;
  font-weight: 500;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
}

nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  list-style: none;
  padding: 5px 15px;
  margin: 0;
}

footer {
  background-color: #FEE5E4;
  padding-bottom: 40px;
}

footer .footer-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
}

footer h1 {
  padding: 30px 0;
}

div .hire, div .meet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
  width: 100%;
  padding-bottom: 40px;
  }

div .follow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  text-align: center;
  width: 100%;
  padding-bottom: 40px;
  }

.social-icons {
  display: flex;
  flex-flow: row;
  }

footer h3 {
  margin: 0;
  padding-bottom: 5px
}

footer .social-icons p {
  padding: 0 15px;
  font-size: 2em;
}

  /*******MAIN STYLES*******/

  main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  .hero {
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    background: #fff;
    background: url('../img/header-bg-whoverlay.jpg') center no-repeat;
    background-size: cover;
  }

   /*******Portfolio Section*******/

  .projects {
    background-color: #b6cdcf;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
    padding: 30px 0;
  }

  .projects h2 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
  }

  .project-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    margin: 0;
    padding-bottom: 40px;
  }

  .project-image {
    margin: 0 0 20px 0;
    padding: 0;
    width: 100%;
    border: 10px solid #2F4E5D;
    box-sizing: border-box;
  }

  .project-description h3, h4, p {
    margin: 0;
  }

  .project-description h3 {
    padding-top: 10px;
    text-align: center;
  }

  .project-description h4 {
    padding-bottom: 10px;
    text-align: center;
    font-weight: 400;
  }

  .project-description p {
    font-style: italic;
    width: 100%;
  }

  /*******About Me Section*******/

  .about-me {
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    background: #fff;
    background: url('../img/header-bg-whoverlay.jpg') center no-repeat;
    background-size: cover;
  }

  .about-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    margin: 0;
    padding-bottom: 40px;
  }

  .about-wrapper h2 {
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
  }

  article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
  }

  .about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  .about-me figure {
    margin: 0 0 25px 0;
    padding: 0;
    width: 100%;
    border: 15px solid #2F4E5D;
  }

  .about-content h3 {
    padding-top: 20px;
    margin: 0;
  }

  .about-content p {
    width: 100%;
  }


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  .content-wrapper {
    max-width: 640px;
    }

  header .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav ul li {
    padding: 0px 0px 0px 30px;
  }

  .projects {
    padding-bottom: 40px;
  }

  .project-image {
    width: 50%;
  }

  .project-description {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    box-sizing: border-box;
    padding: 30px;
  }

  .project-reverse {
    order: 2;
  }

  article {
    width: 60%;
  }


  footer .footer-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
    text-align: center;
    width: 100%;
  }

  div .hire, div .follow, div .meet {
    box-sizing: border-box;
    padding-bottom: 40px;
    width: 33.3%;
  }

  div .follow {
    padding: 0 15px;
  }
}

@media only screen and (min-width: 1200px) {
  .content-wrapper {
      max-width: 1080px;
    }

  .projects .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
    padding-bottom: 0px;
  }

  .projects h2 {
    width: 100%;
  }

  .project-wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    width: 30%;
  }

  .project-image {
    width: 100%;
    margin: 0;
  }

  .project-description {
    width: 100%;
  }

  .project-reverse {
    order: 0;
  }

  .about-wrapper article {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    width: 75%;
  }

  div .about-content {
    padding: 0 20px;
    margin: 0;
    box-sizing: border-box;
    width: 50%;
  }

  footer .footer-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
    text-align: center;
    width: 100%;
  }

  div .hire, div .follow, div .meet {
    padding-bottom: 40px;
    width: 30%;
  }

  div .follow {
    padding: 0 15px;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

